.counter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  &__arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 2em;
    width: 2em;
    background-color: black;
    color: white;
    font-size: 1.3rem;
    border-radius: 20px;
  }
  &__result {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 0;
    font-size: large;
  }
}
