.ticket-card {
  display: flex;
  flex-direction: column;
  color: black;
  margin: 20px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  width: 40vw;
  object-fit: contain;
  border-radius: 20px;
  aspect-ratio: 1/1;
  &__info {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
      rgba(0, 0, 0, 0.22) 0px 15px 12px;
    height: 45vh;
  }
  &__name {
    text-align: center;
    font-size: medium;
  }
  &__role {
    font-size: medium;
    text-align: center;
    padding: 15px;
  }
}

@media screen and (min-width: 768px) {
  .team-card {
    width: 25vw;
  }
}
