.nav {
  height: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  &__image {
    height: 10vh;
    margin: 30px;
  }
  &__heading {
    font-size: xx-large;
    color: black;
  }
}
